<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="controllers">
<transmission name="left_thruster_rotation">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_thruster_to_prop">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_thruster_actuator">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="right_thruster_rotation">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_thruster_to_prop">
    <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_thruster_actuator">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

</robot>