<?xml version="1.0" ?>
<launch>

  <arg name="thruster_port" default="/dev/ttyACM0" />

	<node name="vel_splitter" pkg="asv_controls" type="split_vel" />

    <node name="pid" pkg="pid" type="controller" ns="lin" >
      <param name="Kp" value="321" />
      <param name="Ki" value="2899" />
      <param name="Kd" value="7500.3" />
      
      <!--<param name="windup_limit" value="2.4833343" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />-->
      <param name="topic_from_controller" value="command" />
      <param name="topic_from_plant" value="odom" />
      <param name="setpoint_topic" value="cmd" />
      <param name="max_loop_frequency" value="10" />
     </node>

    <node name="pid" pkg="pid" type="controller" ns="ang" >
      <param name="Kp" value="600" />
      <param name="Ki" value="1800" />
      <param name="Kd" value="6000" />
      <!--<param name="windup_limit" value="2.4833343" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />-->
      <param name="topic_from_controller" value="command" />
      <param name="topic_from_plant" value="odom" />
      <param name="setpoint_topic" value="cmd" />
      <param name="max_loop_frequency" value="10" />
     </node>

	<node name="pwm_generator" pkg="asv_controls" type="create_pwm" />

	<node name="pwm_serial" pkg="asv_controls" type="send_pwm" output="screen">
    <param name="port" value="$(arg thruster_port)" />
  </node>
</launch>